<a href="https://colab.research.google.com/github/sparkprvn/python_coding/blob/main/data_analysis_unique_nunique.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The following example is to work with unique and nunique in pandas. It is a practice code from geek for geeks

In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv('/data/employees.csv')
df

In [4]:
# To find how many unique teams are there in the dataframe 
teams = df['Team'].unique()
teams

array(['Marketing', nan, 'Finance', 'Client Services', 'Legal', 'Product',
       'Engineering', 'Business Development', 'Human Resources', 'Sales',
       'Distribution'], dtype=object)

In [5]:
# Finding out the unique teams gives list, we can also find the count of the unique teams available

teams_count = df['Team'].nunique()
teams_count

10

In [6]:
#Another way of finding the count of the teams from the list of the unique teams is by using len() function on the array 

print(len(teams))

11

In [7]:
# There is a difference in the count using nunique and len functions, this is because null values are not considered when counting 
print(len(teams),teams_count)

11 10