<a href="https://colab.research.google.com/github/sparkprvn/python_coding/blob/main/merging_Df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Using concatenation to join data frames with similar columns

In [ ]:
import pandas as pd
#create dataframes
df1 = pd.DataFrame(
    {
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    },
    index=[0, 1, 2, 3],
)

In [ ]:
df2 = pd.DataFrame(
    {
        "A": ["A4", "A5", "A6", "A7"],
        "B": ["B4", "B5", "B6", "B7"],
        "C": ["C4", "C5", "C6", "C7"],
        "D": ["D4", "D5", "D6", "D7"],
    },
    index=[4, 5, 6, 7],
)

In [ ]:
df3 = pd.DataFrame(
    {
        "A": ["A8", "A9", "A10", "A11"],
        "B": ["B8", "B9", "B10", "B11"],
        "C": ["C8", "C9", "C10", "C11"],
        "D": ["D8", "D9", "D10", "D11"],
    },
    index=[8, 9, 10, 11],
)

In [ ]:
frames = [df1, df2, df3]
result = pd.concat(frames)
result.head()

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4

Merging two dataframes example from https://realpython.com/pandas-merge-join-and-concat/

In [ ]:
import pandas as pd
climate_temp = pd.read_csv("/data/climate_temp.csv")
climate_precip = pd.read_csv("/data/climate_precip.csv")

In [ ]:
climate_temp.head()
climate_precip.head()

In [ ]:
climate_temp.shape
climate_precip.shape

Using merge() with its default arguments will result in an inner join so remember that in an inner join, you will lose rows that don’t have a match in the other DataFrame’s key column.

In [ ]:
precip_one_station = climate_precip[climate_precip["STATION"] == "GHCND:USC00045721"]
precip_one_station.head()

In [ ]:
inner_merged = pd.merge(precip_one_station, climate_temp)
inner_merged.head()

inner_merged.shape