<a href="https://colab.research.google.com/github/sparkprvn/python_coding/blob/main/python_simple_quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

What will be output of the following print when the function is called?



#sourced from @python_hub on instagram

In [ ]:
def f_digit_print():
  for num in range(34,35,36):
    print(num)

f_digit_print()

In [ ]:
l_string = ["kochi","hyderabad","delhi"]
for str in l_string:
  l_string.append(str.upper())

print(l_string)

In [ ]:
x = 1
while x < 10:
  print(x)
  x = x+2

print(x)

In [ ]:
a = "aberdeen"
b = "aberdeeN"

print(a>b)
print(b>a)

In [ ]:
def example_fun():
  x = 150
  return x

x = example_fun() + 5
print(x)

In [ ]:
x = '2'
y = '2'
print(x + y)

In [2]:
def f(values):
  values[0] = 1

lst = [3,4,5]
f(lst)
print(lst)

[1, 4, 5]

In [3]:
b = 987
def f_input():
  b = []
print(type(b))

<class 'int'>

In [4]:
lst = [90,89,87,76]
print(lst[::-2])

[76, 89]